{% extends 'en/base.html' %}
{% load static %}

{% block title %}{{ villa.project.title }} — {{ villa.name }}{% endblock %}

{% block content %}
<section class="villa-start">
    <div class="villa-start__container container">
        <div class="villa-start__image"><img src="{{ villa.image.url }}" alt="Villa plan image"></div>
        <div class="villa-start__content">
            <h1 class="villa-start__subheading">Botanica {{ villa.project.title }}</h1>
            <div class="villa-start__title">
                <span class="villa-start__title-1">{{ villa.name }}</span>
                <span class="villa-start__title-2"> / </span>
                <span class="villa-start__title-3">{{ villa.description }}</span>
            </div>
            <div class="villa-start__price">— ${{ villa.price }}</div>
            <div class="villa-start__params">
                <div class="villa-start__param">
                    <div class="villa-start__text1">Type</div>
                    <div class="villa-start__text2">{{ villa.type }}</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Bedrooms</div>
                    <div class="villa-start__text2">{{ villa.bedroom }} спальни</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Bathrooms</div>
                    <div class="villa-start__text2">{{ villa.bathroom }} ванные</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Square</div>
                    <div class="villa-start__text2">{{ villa.square }} м²</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Built square</div>
                    <div class="villa-start__text2">{{ villa.built_square }} м²</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">House square</div>
                    <div class="villa-start__text2">{{ villa.house_square }} м²</div>
                </div>
            </div>
            <div class="villa-start__btn">
                <span>Learn more</span>
            </div>
            <div class="villa-start__btn villa-start__btn-mobile">
                <img src="/localstatic/images/icon-whitearrowright.svg" alt="White right arrow icon">
                <span>Learn more</span>
            </div>
        </div>
    </div>
</section>
<section class="villa-slider">
    <div class="villa-slider__container container">
        <div class="villa-slider__slider">
            <div class="villa-slider__title">Villa's gallery</div>
            <div class="swiper mySwiperVilla">
                <div class="swiper-wrapper">
                    {% for ai in apartment_images %}
                    <div class="swiper-slide">
                        <div class="villa-slider__image" style="background-image: url('{{ ai.image.url }}');"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="villa-slider__image" style="background-image: url('{{ ai.image.url }}');"></div>
                    </div>
                    {% endfor %}    
                </div>
                <div class="villa-slider-arrows">
                    <div class="swiper-button-prev-villa villa-slider-arrow"><img src="{% static 'images/icon-sliderwhitearrowleft.svg' %}" alt="White left arrow icon"></div>
                    <div class="swiper-button-next-villa villa-slider-arrow"><img src="{% static 'images/icon-sliderwhitearrowright.svg' %}" alt="White right arrow icon"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="project-apartments">
    <div class="project-apartments__container container">
        <div class="project-apartments__wrapper wrapper">
            {% for apart in project.apartments.all|slice:":7" %}
            {% if not apart.id == villa.id %}
                <a href="{% url 'villa_detail' project_slug=project.slug pk=apart.id %}" class="project-apartments__apart">
                    <div class="project-apartments__apart__tags">
                        <div class="project-apartments__apart__tag">{{ apart.name }}</div>
                        <div class="project-apartments__apart__tag">{{ apart.description }}</div>
                    </div>
                    <div class="project-apartments__apart__image"><img src="{{ apart.image.url }}" alt="Apartment image"></div>
                    <div class="project-apartments__apart__content">
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">Type — {{ apart.type }}</div>
                            <div class="project-apartments__apart__text2">{{ apart.bedroom }} bedrooms</div>
                        </div>
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">Square</div>
                            <div class="project-apartments__apart__text2">{{ apart.square }} м²</div>
                        </div>
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">Built square</div>
                            <div class="project-apartments__apart__text2">{{ apart.built_square }} м²</div>
                        </div>
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">House square</div>
                            <div class="project-apartments__apart__text2">{{ apart.house_square }} м²</div>
                        </div>
                    </div>
                    <div class="project-apartments__apart__show-more-mobile">learn more</div>
                </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiperVilla", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next-villa",
        prevEl: ".swiper-button-prev-villa",
      },
    });
</script>
<script>
    const arrows = document.querySelectorAll('.villa-slider-arrow img');
    if (window.screen.width <= 785) {
        arrows[0].src="{% static 'images/icon-sliderarrowleft-mobile.svg' %}";
        arrows[1].src="{% static 'images/icon-sliderarrowright-mobile.svg' %}";
    } else {
        arrows[0].src="{% static 'images/icon-sliderwhitearrowleft.svg' %}";
        arrows[1].src="{% static 'images/icon-sliderwhitearrowright.svg' %}";
    }
    window.addEventListener("resize", function(event) {
        if (window.screen.width <= 785) {
            arrows[0].src="{% static 'images/icon-sliderarrowleft-mobile.svg' %}";
            arrows[1].src="{% static 'images/icon-sliderarrowright-mobile.svg' %}";
        } else {
            arrows[0].src="{% static 'images/icon-sliderwhitearrowleft.svg' %}";
            arrows[1].src="{% static 'images/icon-sliderwhitearrowright.svg' %}";
        }
    })
</script>
{% endblock %}