.about-start {
    margin-bottom: 130px;

    @media screen and (max-width: $md1) {
        margin-bottom: 81px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        padding-top: 66px;

        @media screen and (max-width: $md1) {
            padding-top: 41.25px;
        }

        @media screen and (max-width: $md2) {
            padding-top: 27px;
        }

        @media screen and (max-width: $md3) {
            padding-top: 5.625vw;
        }
    }

    &__title-block  {
        display: flex;
        font-family: $fn;
        font-size: 96px;
        text-transform: uppercase;
        line-height: 80%;
        margin-bottom: 67px;

        @media screen and (max-width: $md1) {
            font-size: 60px;
            margin-bottom: 42.38px;
        }
    }

    &__subheading {
        font-family: $fn;
        font-size: 32px;
        color: #E7A827;
        line-height: 23px;
        margin: 0px 0px 40px 113px;

        @media screen and (max-width: $md1) {
            font-size: 20px;
            margin: 0px 0px 25px 71px;
            line-height: 14px;
        }
    }

    &__text-block {
        display: flex;
        margin-bottom: 12px;
    }

    &__row1 {
        margin-bottom: 78px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $md1) {
            margin: 48.75px;
        }

        @media screen and (max-width: $md2) {
            display: none;
        }

        &__text1 {
            margin: 13px 0px 80px;
            font-size: 20px;
            max-width: 337px;
            line-height: 150%;

            @media screen and (max-width: $md1) {
                margin: 8px 0px 49.5px;
                font-size: 12.5px;
                max-width: 211px;
            }
        }

        &__btn-block {
            display: flex;

            img {
                height: 300px;
                margin: 0px 64px 0px 22px;

                @media screen and (max-width: $md1) {
                    height: 187.5px;
                    margin: 0px 40px 0px 13.75px;
                }
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 12px;
            padding: 27px 42px;
            border-radius: 8px;
            background-color: #E7A827;
            color: #fff;
            height: 100%;
            text-transform: uppercase;

            img {
                height: 6.5px;
                margin: 0px 8px 0px 0px;
            }

            @media screen and (max-width: $md1) {
                font-size: 10px;
                line-height: 7px;
                padding: 17px 26px;

                img {
                    height: 4.5px;
                    margin-right: 5px;
                }
            }
        }

        &__image {
            position: absolute;
            right: -2px;

            img {
                width: 785px;
                height: 400px;

                @media screen and (max-width: $md1) {
                    width: 490.62px;
                    height: 250px;
                }
            }
        }

        &__text2 {
            margin-left: 128px;
            font-size: 18px;
            max-width: 260px;
            line-height: 150%;

            @media screen and (max-width: $md1) {
                margin-left: 93.75px;
                font-size: 11.25px;
                max-width: 162px;
            }
        }
    }

    &__row1-mobile {
        display: none;
        margin-bottom: 48px;
        text-align: center;

        @media screen and (max-width: $md2) {
            display: block;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 10vw;
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
        }

        &__image-block {
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            width: 420px;
            height: 523.5px;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
            }

            span {
                font-family: $fn;
                font-weight: 700;
                font-size: 39px;
                line-height: 110%;
                color: #fff;
                margin-top: 61.5px;
                max-width: 246px;
                text-transform: uppercase;
            }

            @media screen and (max-width: $md3) {
                width: 87.5vw;
                height: 109.063vw;
                margin-bottom: 6.25vw;

                span {
                    font-size: 9.375vw;
                    margin-top: 12.813vw;
                    max-width: 62.5vw;
                }
            }
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 30.5px;

            span {
                max-width: 256px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.75vw;
                margin-bottom: 6.25vw;

                span {
                    max-width: 68.75vw;
                }
            }
        }

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24.5px 0px;
            background-color: #E7A827;
            border-radius: 7.5px;

            img {
                width: 15px;
                margin-right: 9px;
            }

            span {
                font-family: $fn;
                font-size: 15px;
                line-height: 100%;
                color: #fff;
                text-transform: uppercase;
            }

            @media screen and (max-width: $md3) {
                padding: 6.875vw 0px;
                border-radius: 1.563vw;

                img {
                    width: 3.125vw;
                    margin-right: 1.875vw;
                }

                span {
                    font-size: 4.375vw;
                }
            }
        }
    }

    &__row2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @media screen and (max-width: $md1) {
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md2) {
            flex-direction: column;
            margin-bottom: 36px;
            justify-content: start;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 7.5vw;
        }
    }

    &__column {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 50px;
        background-color: #F6F8F7;
        border-radius: 12px;
        width: 496px;

        @media screen and (max-width: $md1) {
            padding: 28.5px 31px;
            border-radius: 7.5px;
            width: 310.5px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 24px;
            width: 372px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        @media screen and (max-width: $md3) {
            padding: 6.25vw 5vw;
            width: 77.5vw;
            margin-bottom: 3.125vw;

            &:last-child {
                margin-bottom: 0vw;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $md2) {
                flex-direction: row;
                align-items: center;
            }

            &__number {
                font-family: $fn;
                color: #E7A827;
                font-weight: 700;
                font-size: 64px;
                margin-bottom: 24px;
                line-height: 100%;

                @media screen and (max-width: $md1) {
                    font-size: 40px;
                    margin-bottom: 15px;
                }

                @media screen and (max-width: $md2) {
                    font-size: 48px;
                    margin: 0px 15px 0px 0px;
                }

                @media screen and (max-width: $md3) {
                    font-size: 10vw;
                    margin-right: 3.125vw;
                }
            }

            &__text {
                font-size: 18px;
                line-height: 150%;
                max-width: 250px;

                @media screen and (max-width: $md1) {
                    font-size: 11.25px;
                    max-width: 150px;
                }

                @media screen and (max-width: $md2) {
                    font-size: 12px;
                    line-height: 130%;
                    max-width: 180px;
                }

                @media screen and (max-width: $md3) {
                    font-weight: 600;
                    font-size: 3.75vw;
                    max-width: 42.5vw;
                }
            }
        }

        &__number {
            font-family: $fn;
            font-weight: 700;
            font-size: 100px;
            line-height: 65%;
            color: transparent;
            outline: #E7A827 2px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #E7A827;
            -webkit-text-fill-color:transparent;
            -webkit-text-stroke: outside;

            @media screen and (max-width: $md1) {
                font-size: 62.5px;
                -webkit-text-stroke-width: 1.25px;
            }

            @media screen and (max-width: $md2) {
                position: absolute;
                right: -13px;
                top: -3px;
                font-size: 72px;
                color: #121212;
                opacity: 0.1;
                -webkit-text-fill-color:#121212;
                -webkit-text-stroke-width: 0px;
            }

            @media screen and (max-width: $md3) {
                right: -2.188vw;
                top: -0.625vw;
                font-size: 15vw;
            }
        }
    }

    &__row3 {
        display: flex;
        flex-direction: column;
        background-color: #F6F8F7;
        border-radius: 12px;
        padding: 75px 0px 75px 60px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            padding: 47.5px 0px 47.5px 37.5px;
        }

        @media screen and (max-width: $md2) {
            padding: 36px 0px 36px 24px;
        }

        @media screen and (max-width: $md3) {
            border-radius: 5px;
            padding: 7.5vw 0px 7.5vw 5vw;
        }

        &__title {
            font-family: $fn;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            margin-bottom: 44px;    
            text-transform: uppercase;

            @media screen and (max-width: $md1) {
                font-size: 25px;
                margin-bottom: 27px;
            }

            @media screen and (max-width: $md2) {
                font-size: 24px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: $md3) {
                font-size: 6vw;
                margin-bottom: 7.5vw;
            }
        }

        &__text {
            font-size: 20px;
            line-height: 150%;
            max-width: 1006px;

            @media screen and (max-width: $md1) {
                font-size: 12.5px;
                max-width: 629px;
            }

            @media screen and (max-width: $md2) {
                font-size: 13.5px;
                max-width: 300px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.438vw;
                max-width: 68.75vw;
            }
        }
    }
}


// .project-slider {
//     margin-bottom: 120px;

//     @media screen and (max-width: $md1) {
//         margin-bottom: 81px;
//     }

//     @media screen and (max-width: $md2) {
//         margin-bottom: 36px;
//     }

//     @media screen and (max-width: $md3) {
//         margin-bottom: 24px;
//     }

//     &__container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }

//     &__title {
//         font-family: $fn;
//         font-weight: 700;
//         font-size: 40px;
//         margin-bottom: 50px;

//         @media screen and (max-width: $md1) {
//             font-size: 25px;
//             margin-bottom: 31px;
//         }

//         @media screen and (max-width: $md2) {
//             font-size: 18px;
//             margin-bottom: 24px;
//         }

//         @media screen and (max-width: $md3) {
//             font-size: 12px;
//             margin-bottom: 16px;
//         }
//     }
// }

.project-slider {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }

    &__slider {
        text-align: center;
        position: relative;
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 50px;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: $md2) {
            font-size: 18px;
            margin-bottom: 24px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.75vw;
            margin-bottom: 5vw;
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 1000px;
            height: 600px;
            border-radius: 20px;

            @media screen and (max-width: $md1) {
                width: 525px;
                height: 312.5px;
                border-radius: 7.5px;
            }

            @media screen and (max-width: $md2) {
                width: 330px;
                height: 180px;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                width: 68.75vw;
                height: 37.5vw;
                border-radius: 1.25vw;
            }
        }
    }

    .project-slider-arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        background-color: #DFA633;
        width: 46px;
        height: 46px;
        border-radius: 50%;

        img {
            width: 7px;
            height: 14px;
        }

        @media screen and (max-width: $md1) {
            width: 28.75px;
            height: 28.75px;

            img {
                width: 4.38px;
                height: 8.75px;
            }
        }

        @media screen and (max-width: $md2) {
            width: 30px;
            height: 30px;

            img {
                width: 4.57px;
                height: 9.13px;
            }
        }

        @media screen and (max-width: $md3) {
            width: 6.25vw;
            height: 6.25vw;

            img {
                width: 0.95vw;
                height: 1.903vw;
            }
        }
    }

    .swiper-button-prev-project {
        top: 270px;
        left: 0px;

        @media screen and (max-width: $md1) {
            top: 141.87px;
            left: 67.75px;
        }

        @media screen and (max-width: $md2) {
            top: 75px;
            left: 0px;
        }

        @media screen and (max-width: $md3) {
            top: 15.625vw;
        }
    }

    .swiper-button-next-project {
        top: 270px;
        right: 0px;

        @media screen and (max-width: $md1) {
            top: 141.87px;
            right: 67.75px;
        }

        @media screen and (max-width: $md2) {
            top: 75px;
            right: 0px;
        }

        @media screen and (max-width: $md3) {
            top: 15.625vw;
        }
    }
}


.awards {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 81px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__row1 {
        display: flex;
        justify-content: center;
        background-color: #F6F8F7;
        border-radius: 12px;
        padding: 45px 0px;
        margin-bottom: 21px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            padding: 28px 0px;
            margin-bottom: 13px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 0px;
            margin-bottom: 36px;
        }

        @media screen and (max-width: $md3) {
            border-radius: 1.563vw;
            padding: 6.25vw 0px;
            margin-bottom: 7.5vw;
        }
    }

    &__image {
        width: 95.48px;
        height: 221.7px;
        padding: 0px 36px;
        border-left: 1px solid #D9D9D9;

        img {
            width: 100%;
            height: 100%;
        }

        &:last-child {
            border-right: 1px solid #D9D9D9;
        }

        @media screen and (max-width: $md1) {
            width: 62.79px;
            height: 139.85px;
            padding: 0px 22.61px;
            border-left: 0.63px solid #D9D9D9;

            &:last-child {
                border-right: 0.63px solid #D9D9D9;
            }
        }

        @media screen and (max-width: $md2) {
            width: 42px;
            height: 111px;
            margin-right: 18px;
            padding: 0px;
            border: 0px;

            &:last-child {
                margin-right: 0px;
            }
        }

        @media screen and (max-width: $md3) {
            width: 8.75vw;
            height: 23.125vw;
            margin-right: 3.75vw;
        }
    }

    &__row2 {
        display: flex;

        @media screen and (max-width: $md2) {
            flex-direction: column;
        }
    }

    &__column {
        position: relative;
        background-color: #F6F8F7;
        border-radius: 12px;
        width: 350px;
        padding: 50px 0px 50px 40px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            width: 243.75px;
            padding: 31.5px 0px 31.5px 25px;
        }

        @media screen and (max-width: $md2) {
            width: 396px;
            padding: 30px 0px 30px 24px;
        }

        @media screen and (max-width: $md3) {
            border-radius: 1.563vw;
            width: 75vw;
            padding: 7.5vw 7.5vw 7.5vw 5vw;
        }

        &__title {
            font-family: $fn;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 24px;
            line-height: 100%;

            @media screen and (max-width: $md1) {
                font-size: 15px;
                margin-bottom: 15px;
            }

            @media screen and (max-width: $md2) {
                font-size: 18px;
                margin-bottom: 20px;
            }

            @media screen and (max-width: $md3) {
                font-size: 4.688vw;
                margin-bottom: 3.594vw;
            }
        }

        &__text {
            font-size: 15px;
            max-width: 202px;
            
            @media screen and (max-width: $md1) {
                font-size: 9.38px;
                max-width: 130px;
            }

            @media screen and (max-width: $md2) {
                font-size: 13.5px;
                max-width: 280px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.438vw;
                max-width: 62.5vw;
            }
        }

        &__icon {
            position: absolute;
            right: 40px;
            bottom: 30px;

            img {
                width: 100%;
            }

            @media screen and (max-width: $md1) {
                width: 30px;
                right: 25px;
                bottom: 18.75px;
            }

            @media screen and (max-width: $md2) {
                width: 36px;
                right: 30px;
                top: 30px;
                bottom: 0;
            }

            @media screen and (max-width: $md3) {
                width: 7.5vw;
                right: 6.25vw;
                top: 6.25vw;
            }
        }
    }

    &__column + &__column {
        margin-left: 21px;
        
        @media screen and (max-width: $md1) {
            margin-left: 13.13px;
        }

        @media screen and (max-width: $md2) {
            margin: 15px 0px 0px;
        }

        @media screen and (max-width: $md3) {
            margin-top: 3.125vw;
        }
    }
}


.advantages {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 81px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }

    &__row1 {
        display: flex;
        margin-bottom: 20px;
        
        @media screen and (max-width: $md1) {
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md2) {
            flex-direction: column  ;
            margin-bottom: 36px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 7.5vw;
        }

        &__column {
            padding: 44px 0px 44px 50px;
            background-color: #F6F8F7;
            border-radius: 12px;
            width: 426px;

            span {
                display: flex;
                font-family: $fn;
                font-weight: 700;
                font-size: 40px;
                max-width: 241px;
                flex-wrap: wrap;

                @media screen and (max-width: $md1) {
                    font-size: 25px;
                    max-width: 150px;
                }

                @media screen and (max-width: $md2) {
                    font-size: 24px;
                    max-width: 250px;
                    text-transform: uppercase;
                }

                @media screen and (max-width: $md3) {
                    font-size: 5.625vw;
                    max-width: 56vw;
                }
            }

            @media screen and (max-width: $md1) {
                padding: 27.5px 0px 27.5px 31.25px;
                border-radius: 7.5px;
                width: 221.25px;
            }

            @media screen and (max-width: $md2) {
                padding: 30px 0px 30px 24px;
                width: 396px;
            }

            @media screen and (max-width: $md3) {
                border-radius: 1.563vw;
                padding: 7.5vw 0px 7.5vw 5vw;
                width: 82.5vw;
            }
        }

        &__column + &__column {
            margin-left: 20px;

            @media screen and (max-width: $md1) {
                margin-left: 12.5px;
            }

            @media screen and (max-width: $md2) {
                margin: 15px 0px 0px;
            }

            @media screen and (max-width: $md3) {
                margin-top: 3.125vw;
            }
        }

        &__head-block {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            @media screen and (max-width: $md1) {
                margin-bottom: 18.75px;
            }

            @media screen and (max-width: $md2) {
                margin-bottom: 16px;
            }

            @media screen and (max-width: $md3) {
                margin-bottom: 5vw;
            }
        }

        &__head-number {
            font-family: $fn;
            font-size: 46px;
            color: #E7A827;
            margin-right: 16px;

            @media screen and (max-width: $md1) {
                font-size: 28.75px;
                margin-right: 9.5px;
            }

            @media screen and (max-width: $md2) {
                font-size: 30px;
                margin-right: 18px;
            }

            @media screen and (max-width: $md3) {
                font-size: 10vw;
                margin-right: 3.75vw;
            }
        }

        &__head-line {
            height: 1px;
            width: 161px;
            background-color: #E7A827;

            @media screen and (max-width: $md1) {
                height: 0.63px;
                width: 101px;
            }

            @media screen and (max-width: $md2) {
                height: 0.9px;
                width: 270px;
            }

            @media screen and (max-width: $md3) {
                height: 0.187vw;
                width: 56.25vw;
            }
        }

        &__text {
            font-size: 18px;
            max-width: 272px;
            line-height: 160%;

            @media screen and (max-width: $md1) {
                font-size: 11.25px;
                max-width: 170px;
            }

            @media screen and (max-width: $md2) {
                font-size: 13.5px;
                max-width: 331px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.438vw;
                max-width: 63.438vw;
            }
        }
    }

    &__row2 {
        display: flex;
        align-items: stretch;

        @media screen and (max-width: $md2) {
            flex-direction: column;
        }

        &__text {
            font-size: 18px;
            max-width: 466px;
            margin-right: 134px;
            line-height: 160%;

            @media screen and (max-width: $md1) {
                font-size: 11.25px;
                max-width: 292px;
                margin-right: 83.75px;
            }

            @media screen and (max-width: $md2) {
                font-size: 13.5px;
                max-width: 272px;
                margin: 0px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.438vw;
                max-width: 70.938vw;
            }
        }

        &__text2 {
            font-size: 18px;
            max-width: 331px;
            line-height: 160%;

            span {
                font-weight: 600;

                @media screen and (max-width: $md2) {
                    font-weight: 500;
                }
            }

            @media screen and (max-width: $md1) {
                font-size: 11.25px;
                max-width: 210px;
            }

            @media screen and (max-width: $md2) {
                font-size: 13.5px;
                max-width: 255px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.438vw;
                max-width: 70.938vw;
            }
        }

        &__heading {
            font-family: $fn;
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 32px;

            span {
                color: #E7A827;
            }

            @media screen and (max-width: $md1) {
                font-size: 25px;
                margin-bottom: 25.37px;
            }

            @media screen and (max-width: $md2) {
                font-size: 24px;
                margin-bottom: 16px;
            }

            @media screen and (max-width: $md3) {
                font-size: 6.875vw;
                margin-bottom: 7.5vw;
            }
        }

        &__column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #F6F8F7;
            border-radius: 12px;
            padding: 50px 99px 50px 50px;

            &:first-child {
                padding-right: 0px;
            }

            @media screen and (max-width: $md1) {
                border-radius: 7.5px;
                padding: 31px 61.5px 31px 31px;
            }

            @media screen and (max-width: $md2) {
                padding: 30px 0px 30px 24px;
            }

            @media screen and (max-width: $md3) {
                border-radius: 1.563vw;
                padding: 7.5vw 0px 7.5vw 5vw;
            }

        }

        &__content {
            display: flex;
            margin-top: 40px;

            @media screen and (max-width: $md1) {
                margin-top: 25px;
            }

            @media screen and (max-width: $md2) {
                margin-top: 16px;
            }

            @media screen and (max-width: $md3) {
                margin-top: 5vw;
            }

            &__step {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                @media screen and (max-width: $md1) {
                    margin-bottom: 10px;
                }

                @media screen and (max-width: $md2) {
                    margin-bottom: 0;
                }

                span {
                    font-family: $fn;
                    font-size: 46px;

                    &:last-child {
                        color: #E7A827;
                    }

                    @media screen and (max-width: $md1) {
                        font-size: 28.75px;
                    }

                    @media screen and (max-width: $md2) {
                        font-size: 30px;
                    }

                    @media screen and (max-width: $md3) {
                        font-size: 10vw;
                    }
                }

                img {
                    opacity: 0.2;
                    margin: 0px 32px;

                    @media screen and (max-width: $md1) {
                        width: 35px;
                        margin: 0px 20px;
                    }

                    @media screen and (max-width: $md2) {
                        width: 37px;
                        margin: 0px 21px;
                    }

                    @media screen and (max-width: $md3) {
                        width: 9.375vw;
                        margin: 0px 6.25vw 0px 3.125vw;
                    }
                }
            }

            &__text {
                font-weight: 600;
                font-size: 16px;

                @media screen and (max-width: $md1) {
                    font-size: 10px;
                }

                @media screen and (max-width: $md2) {
                    
                }

                @media screen and (max-width: $md3) {
                    font-size: 4.063vw;
                }
            }
        }

        .active-text {
            color: #E7A827;
        }

        &__column + &__column {
            margin-left: 20px;

            @media screen and (max-width: $md1) {
                margin-left: 12.5px;
            }

            @media screen and (max-width: $md2) {
                margin: 15px 0px 0px;
            }

            @media screen and (max-width: $md3) {
                margin: 3.125vw 0px 0px;
            }
        }
    }
}


.priceup {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 81px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }

    &__container {
        display: flex;
        width: 100%;

        @media screen and (max-width: $md2) {
            flex-direction: column;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F6F8F7;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md3) {
            border-radius: 1.563vw;
        }
    }

    &__column + &__column {
        margin-left: 20px;

        @media screen and (max-width: $md1) {
            margin-left: 12.5px;
        }

        @media screen and (max-width: $md2) {
            margin: 15px 0px 0px;
        }

        @media screen and (max-width: $md3) {
            margin: 3.125vw 0px 0px;
        }
    }

    &__column1 {
        padding: 51px 67px;

        @media screen and (max-width: $md1) {
            padding: 32px 42px;
        }

        @media screen and (max-width: $md2) {
            align-items: stretch;
            padding: 36px 27px;
        }

        @media screen and (max-width: $md3) {
            padding: 7.5vw 5.625vw;
        }

        &__title {
            font-family: $fn;
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 67px;
            text-transform: uppercase;

            @media screen and (max-width: $md1) {
                font-size: 25px;
                margin-bottom: 41px;
            }

            @media screen and (max-width: $md2) {
                font-size: 24px;
                margin-bottom: 24px;
            }

            @media screen and (max-width: $md3) {
                letter-spacing: -0.16px;
                font-size: 5.625vw;
                margin-bottom: 7.5vw;
            }
        }

        &__image {
            width: 645px;
            height: 439px;
            margin-bottom: 24px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: $md1) {
                width: 403px;
                height: 274px;
                margin-bottom: 15px;
            }

            @media screen and (max-width: $md2) {
                width: 366px;
                height: 255px;
            }

            @media screen and (max-width: $md3) {
                width: 76.25vw;
                height: 53.125vw;
            }
        }

        &__text-block {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 10px;
            padding: 46px 57px;

            @media screen and (max-width: $md1) {
                border-radius: 6.25px;
                padding: 29px 35.5px;
            }

            @media screen and (max-width: $md2) {
                border-radius: 12px;
                justify-content: center;
                padding: 30px 0px;
            }

            @media screen and (max-width: $md3) {
                border-radius: 1.25vw;
                padding: 6.25vw 0px;
            }
        }

        &__percent {
            font-family: $fn;
            font-weight: 700;
            font-size: 64px;
            color: #E7A827;
            margin-right: 20px;

            @media screen and (max-width: $md1) {
                font-size: 40px;
                margin-right: 12.5px;
            }

            @media screen and (max-width: $md2) {
                font-size: 36px;
                margin-right: 12px;
            }

            @media screen and (max-width: $md3) {
                font-size: 10vw;
                margin-right: 2.5vw;
            }
        }

        &__text {
            font-weight: 600;
            font-size: 24px;
            max-width: 273px;
            line-height: 150%;

            @media screen and (max-width: $md1) {
                font-size: 15px;
                max-width: 175px;
            }

            @media screen and (max-width: $md2) {
                font-size: 12px;
                width: 122px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.75vw;
                width: 37.813vw;
            }
        }
    }

    &__column2 {
        padding: 0px 79px;

        @media screen and (max-width: $md1) {
            padding: 0px 49px;
        }

        @media screen and (max-width: $md2) {
            padding: 36px 0px 36px 24px;
            align-items: start;
        }

        @media screen and (max-width: $md3) {
            padding: 7.5vw 0px 7.5vw 6.25vw;
        }

        &__month-block {
            text-align: center;
            width: 254px;

            @media screen and (max-width: $md1) {
                width: 160px;
            }

            @media screen and (max-width: $md2) {
                text-align: left;
                width: auto;
            }
        }

        &__month-number {
            font-family: $fn;
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 20px;
            color: #E7A827;

            @media screen and (max-width: $md1) {
                font-size: 18.75px;
                margin-bottom: 12.5px;
            }

            @media screen and (max-width: $md2) {
                font-size: 21px;
                margin-bottom: 18px;
            }

            @media screen and (max-width: $md3) {
                font-size: 6.875vw;
                margin-bottom: 5.625vw;
            }
        }

        &__month-text {
            font-weight: 600;
            font-size: 18px;
            max-width: 254px;
            margin-bottom: 20px;

            @media screen and (max-width: $md1) {
                font-size: 11.25px;
                max-width: 160px;
                margin-bottom: 12.5px;
            }

            @media screen and (max-width: $md2) {
                font-size: 13.5px;
                max-width: 300px;
                margin-bottom: 18px;
            }

            @media screen and (max-width: $md3) {
                font-size: 4.375vw;
                max-width: 62.5vw;
                margin-bottom: 5.625vw;
            }
        }

        &__month-raise {
            font-family: $fn;
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            color: #fff;
            background-color: #E7A827;
            padding: 14px 20px;
            border-radius: 4px;

            @media screen and (max-width: $md1) {
                font-size: 10px;
                padding: 8.75px 12.5px;
                border-radius: 2.5px;
            }

            @media screen and (max-width: $md2) {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 180px;
                height: 35px;
                border-radius: 3.5px;
            }

            @media screen and (max-width: $md3) {
                font-size: 3.75vw;
                width: 47.813vw;
                height: 10vw;
                border-radius: 1.25vw;
            }
        }

        &__divider {
            height: 100px;
            width: 1px;
            background-color: #E7A827;
            margin: 30px 0px;

            @media screen and (max-width: $md1) {
                height: 62.5px;
                width: 0.63px;
                margin: 18.62px 0px;
            }

            @media screen and (max-width: $md2) {
                height: 0.6px;
                width: 300px;
                background-color: #121212;
                opacity: 0.3;
                margin: 30px 0px;
            }

            @media screen and (max-width: $md3) {
                height: 0.125vw;
                width: 62.5vw;
                margin: 7.5vw 0px;
            }
        }
    }
}


.location {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 81px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 48px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 15vw;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 53px 0px 41px;
        background-color: #F6F8F7;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            padding: 33px 0px 26px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 0px;
        }

        @media screen and (max-width: $md3) {
            align-items: start;
            max-width: 80vw;
            padding: 6.25vw 3.75vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 51px;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 31px;
        }

        @media screen and (max-width: $md2) {
            font-size: 21px;
            margin-bottom: 24px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5.625vw;
            max-width: 58.125vw;
            margin-bottom: 7.5vw;
        }
    }

    &__map {
        position: relative;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 12px;
        width: 1100px;
        height: 600px;
        margin-bottom: 36px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            width: 687.5px;
            height: 375px;
            margin-bottom: 27.5px;
        }

        @media screen and (max-width: $md2) {
            width: 384px;
            height: 210px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            width: 80vw;
            height: 43.75vw;
            margin-bottom: 5vw;
        }

        &__place {
            display: flex;
            align-items: center;
            position: absolute;
        }

        &__number {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 20px;
            color: #E7A827;
            width: 46px;
            height: 46px;
            margin-right: 6px;
            background-color: #fff;
            border-radius: 50%;

            @media screen and (max-width: $md1) {
                font-size: 12.5px;
                width: 28.75px;
                height: 28.75px;
                margin-right: 3.75px;
            }

            @media screen and (max-width: $md2) {
                font-size: 7.5px;
                width: 15px;
                height: 15px;
                margin-right: 3px;
            }

            @media screen and (max-width: $md3) {
                font-size: 1.563vw;
                width: 3.125vw;
                height: 3.125vw;
                margin-right: 0.625vw;
            }
        }

        &__text {
            font-weight: 700;
            font-size: 20px;
            padding: 16px 30px;
            line-height: 100%;  
            color: #E7A827;
            background-color: #fff;
            border-radius: 23px;

            @media screen and (max-width: $md1) {
                font-size: 12.5px;
                padding: 10px 18px;
                border-radius: 14.38px;
            }

            @media screen and (max-width: $md2) {
                font-size: 7.5px;
                padding: 4.5px 9px;
                border-radius: 8px;
            }

            @media screen and (max-width: $md3) {
                font-size: 1.563vw;
                padding: 0.938vw 1.875vw;
                border-radius: 1.875vw;
            }

        }

        .map__place1 {
            top: 359px;
            left: 522px;

            @media screen and (max-width: $md1) {
                top: 224px;
                left: 326px;
            }

            @media screen and (max-width: $md2) {
                top: 129px;
                left: 190px;
            }

            @media screen and (max-width: $md3) {
                top: 26.875vw;
                left: 39.688vw;
            }
        }

        .map__place2 {
            top: 139px;
            left: 518px;

            @media screen and (max-width: $md1) {
                top: 87px;
                left: 324px;
            }

            @media screen and (max-width: $md2) {
                top: 46px;
                left: 177px;
            }

            @media screen and (max-width: $md3) {
                top: 9.688vw;
                left: 36.875vw;
            }
        }

        .map__place3 {
            top: 62px;
            left: 84px;

            @media screen and (max-width: $md1) {
                top: 39px;
                left: 52px;
            }

            @media screen and (max-width: $md2) {
                top: 24px;
                left: 36px;
            }

            @media screen and (max-width: $md3) {
                top: 5vw;
                left: 7.5vw;
            }
        }

        .map__place4 {
            top: 16px;
            left: 739px;

            @media screen and (max-width: $md1) {
                top: 10px;
                left: 462px;
            }

            @media screen and (max-width: $md2) {
                top: 12px;
                left: 264px;
            }

            @media screen and (max-width: $md3) {
                top: 2.5vw;
                left: 55vw;
            }
        }

        .map__place5 {
            top: 385px;
            left: 46px;

            @media screen and (max-width: $md1) {
                top: 241px;
                left: 29px;
            }

            @media screen and (max-width: $md2) {
                top: 142px;
                left: 21px;
            }

            @media screen and (max-width: $md3) {
                top: 29.688vw;
                left: 4.375vw;
            }
        }

        .map__place6 {
            top: 265px;
            left: 325px;

            @media screen and (max-width: $md1) {
                top: 166px;
                left: 203px;
            }

            @media screen and (max-width: $md2) {
                top: 90px;
                left: 144px;
            }

            @media screen and (max-width: $md3) {
                top: 18.75vw;
                left: 30vw;
            }
        }
    }

    &__text-block {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 16px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 16px;
            height: 16px;
            margin-right: 13px;
        }

        @media screen and (max-width: $md2) {
            width: 12px;
            height: 12px;
            margin-right: 9px;
        }

        @media screen and (max-width: $md3) {
            width: 3.75vw;
            height: 3.75vw;
            margin-right: 1.875vw;
        }
    }
    
    &__text {
        font-size: 20px;
        line-height: 150%;

        @media screen and (max-width: $md1) {
            font-size: 12.5px;
        }

        @media screen and (max-width: $md2) {
            font-weight: 600;
            font-size: 10.5px;
        }

        @media screen and (max-width: $md3) {
            font-size: 2.813vw;
            max-width: 48.625vw;
        }
    }
}