.hello {
    margin: 40px 0px 20px;

    @media screen and (max-width: $md1) {
        margin: 25px 0px 12.5px;
    }

    @media screen and (max-width: $md2) {
        margin: 27px 0px 48px;
    }

    @media screen and (max-width: $md3) {
        margin: 5.625vw 0px 10vw;
    }

    &__container {
        display: flex;

        @media screen and (max-width: $md2) {
            flex-direction: column;
        }
    }

    &__column1 {
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 682px;
        height: 573px;
        padding: 40px 0px 0px 40px;
        margin-right: 20px;
        position: relative;
        text-transform: uppercase;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            width: 451.25px;
            height: 383.12px;
            padding: 25px 0px 0px 25px;
            margin-right: 12.5px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md2) {
            width: 390px;
            height: 330px;
            padding: 30px 0px 0px 30px;
            margin: 0px 0px 15px 0px;
        }

        @media screen and (max-width: $md3) {
            width: 81.25vw;
            height: 68.75vw;
            padding: 6.25vw 0px 0px 6.25vw;
            margin-bottom: 4.688vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 46px;
        margin-bottom: 24px;
        max-width: 391px;
        color: #fff;

        @media screen and (max-width: $md1) {
            font-size: 28.75px;
            margin-bottom: 14.75px;
            max-width: 244.38px;
        }

        @media screen and (max-width: $md2) {
            font-size: 30px;
        }

        @media screen and (max-width: $md3) {
            max-width: 40vw;
            font-size: 4.688vw;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 20px 28px;
        background-color: #E7A827;
        border-radius: 6px;
        max-width: 154px;
        color: #fff;

        @media screen and (max-width: $md1) {
            font-size: 10px;
            padding: 12.5px 17.5px;
            border-radius: 3.75px;
            max-width: 100px;
        }

        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    &__btn-mobile {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 24.5px 0px;
        background-color: #E7A827;
        border-radius: 7.5px;
        max-width: 420px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 15px;

        .icon-white-arrow-right {
            display: flex;
            align-items: center;

            img {
                width: 15px;
                height: 7.5px;
            }
        }

        @media screen and (max-width: $md2) {
            display: flex;
        }

        @media screen and (max-width: $md3) {
            max-width: 87.5vw;
            padding: 5.313vw 0px;
            border-radius: 1.563vw;
            margin-bottom: 3.125vw;

            span {
                font-size: 3.125vw;
            }
        }
    }

    .icon-white-arrow-right {
        margin-right: 8px;

        @media screen and (max-width: $md1) {
            margin-right: 5px;
        }

        @media screen and (max-width: $md2) {
            margin-right: 9px;
        }

        @media screen and (max-width: $md3) {
            margin-right: 1.875vw;
            
            img {
                width: 3.125vw;
                height: auto;
            }
        }
    }

    &__icon {
        position: absolute;
        right: 30px;
        bottom: 30px;

        @media screen and (max-width: $md1) {
            right: 18.75px;
            bottom: 18.75px;
        }

        @media screen and (max-width: $md2) {
            right: 24px;
            bottom: 30px;
        }

        @media screen and (max-width: $md3) {
            right: 5vw;
            bottom: 5vw;
        }
    }

    &__column2 {
        width: 410px;
        display: block;
        text-wrap: wrap;

        @media screen and (max-width: $md1) {
            width: 293.75px;
        }

        @media screen and (max-width: $md2) {
            width: auto;
        }
    }

    &__row1 {
        background-color: #FFD174;
        margin-bottom: 20px;
        padding: 30px;
        border-radius: 12px;
        width: 410px;
        position: relative;

        @media screen and (max-width: $md1) {
            margin-bottom: 12.5px;
            padding: 18.75px;
            width: 256.25px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 0;
            padding: 30px 0px 34px 24px;
            width: 396px;
        }

        @media screen and (max-width: $md3) {
            padding: 6.25vw 0px 6.25vw 6.25vw;
            width: 82.5vw;
        }

        &__subtitle {
            margin-bottom: 137px;
            max-width: 193px;

            @media screen and (max-width: $md1) {
                margin-bottom: 85.63px;
                max-width: 121px;
            }

            @media screen and (max-width: $md2) {
                margin-bottom: 30px;
                max-width: 199px;
            }

            @media screen and (max-width: $md3) {
                margin-bottom: 6.25vw;
                max-width: 42vw;
            }
        }

        &__description {
            font-size: 13px;
            max-width: 290px;
            text-wrap: wrap;

            @media screen and (max-width: $md1) {
                font-size: 8px;
                max-width: 185px;
            }

            @media screen and (max-width: $md2) {
                font-size: 13.5px;
                max-width: 312px;
            }

            @media screen and (max-width: $md3) {
                font-size: 2.813vw;
                max-width: 65vw;
            }
        }

        &__icon {
            position: absolute;
        }

        .icon-shortlogo {
            right: 30px;
            top: 30px;

            @media screen and (max-width: $md1) {

                img {
                    width: 75px;
                    width: 85px;
                }

                right: 18.75px;
                top: 18.75px;
            }

            @media screen and (max-width: $md2) {
                display: none;
            }
        }

        .black-arrow-right {
            right: 30px;
            bottom: 30px;   

            @media screen and (max-width: $md1) {
                right: 18.75px;
                bottom: 18.75px;
            }

            @media screen and (max-width: $md2) {
                right: 24px;
                bottom: 30px;
            }

            @media screen and (max-width: $md3) {
                right: 5vw;
                bottom: 6.25vw;
            }
        }
    }

    &__row2 {
        background-size:auto;
        background-repeat: no-repeat;
        background-position:center;
        display: flex;
        flex-direction: column;
        align-items: end;
        border-radius: 12px;
        padding: 30px;
        width: 410px;
        color: #fff;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            width: 256.25px;
            padding: 18.75px;
        }

        @media screen and (max-width: $md2) {
            display: none;
        }

        &__subtitle {
            max-width: 181px;
            border-color: #fff !important;
            color: #fff;
            margin-bottom: 16px;

            @media screen and (max-width: $md1) {
                max-width: 113px;
                margin-bottom: 10px;
            }
        }

        &__title {
            font-family: $fn;
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 55px;

            @media screen and (max-width: $md1) {
                font-size: 17.5px;
                margin-bottom: 55.37px;
            }
        }
    }
    
    .subtitle-border {
        font-size: 16px;
        padding: 15px 20px;
        border: #121212 solid 1px;
        border-radius: 21px;

        @media screen and (max-width: $md1) {
            font-size: 10px;
            padding: 9.5px 12.5px;
            border: #121212 solid 0.63px;
            border-radius: 13.3px;
        }

        @media screen and (max-width: $md2) {
            font-size: 16.5px;
            padding: 15px 24px;
            border-radius: 21px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.438vw;
            padding: 3.125vw 5vw;
            border-radius: 4.375vw;
        }
    }

    .icon-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 20px;
        background-color: #fff;
        border-radius: 50px;
        max-width: 21px;
        max-height: 21px;
        

        @media screen and (max-width: $md1) {

            img {
                width: 13px;
            }
            width: 13px;
            padding: 14px 12.5px;
        }

        @media screen and (max-width: $md3) {
            width: 2.5vw;
            padding: 2.813vw 2.5vw;

            img {
                width: 2.5vw;
            }
        }
    }

    .black-arrow-down {
        padding: 20.57px 22.29px 19.71px 23.14px;
        height: 21px;

        @media screen and (max-width: $md1) {
            height: 13px;
            padding: 12.5px 12.3px;

            img {
                height: 13px;
            }
        }

        @media screen and (max-width: $md2) {
            height: 13px;
            width: 9px;
            padding: 12px 13.5px;
            bottom: 24px;

            img {
                height: 13px;
            }
        }

        @media screen and (max-width: $md3) {
            height: 2.5vw;
            width: 1.875vw;
            padding: 2.5vw 2.813vw;
            bottom: 5vw;

            img {
                width: 1.875vw;
            }
        }
    }
}


.projects {
    &__title-block {
        background-color: #F6F8F7;
        border-radius: 12px;
        padding: 59px 122px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            padding: 36.5px 76.25px;
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 24px;
            margin-bottom: 27px;
            align-items: start;
        }

        @media screen and (max-width: $md3) {
            border-radius: 1.563vw;
            padding: 6.25vw 5vw;
            margin-bottom: 7.5vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 36px;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 22px;
        }

        @media screen and (max-width: $md2) {
            font-size: 18px;
            margin-bottom: 21px;
            max-width: 190px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.75vw;
            margin-bottom: 4.375vw;
            max-width: 40.625vw;
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: $md2) {
            justify-content: start;
        }
    }

    .tab-btn {
        padding: 0px 32px;
        border-left: #B2B3B2 solid 1px;
        color: #686868;
        cursor: pointer;
        text-transform: capitalize;

        @media screen and (max-width: $md1) {
            padding: 0px 19.5px;
        }

        @media screen and (max-width: $md2) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 9px 18px;
            font-weight: 600;
            font-size: 12px;
            border: #121212 solid 0.6px;
            color: #121212;
            border-radius: 13.5px;
            margin: 0px 9px 9px 0px;
            line-height: 8px;
        }

        @media screen and (max-width: $md3) {
            padding: 1.875vw 3.75vw;
            font-size: 2.5vw;
            border: #121212 solid 0.2vw;
            border-radius: 2.813vw;
            margin: 0px 1.875vw 1.875vw 0px;
            line-height: 2.188vw;
        }
    }

    .tab-btn:first-child {
        border: none;

        @media screen and (max-width: $md2) {
            border: #121212 solid 0.6px;
        }

        @media screen and (max-width: $md3) {
            border: #121212 solid 0.125vw;
        }
    }

    .tab-btn.active {
        color: #E7A827;
        
        @media screen and (max-width: $md2) {
            background-color: #E7A827;
            color: #fff;
            border: 0px;
        }
    }

    .tab-content {
        display: none;
        animation: moving .5s ease;
    }

    @keyframes moving {
        from{transform: translateX(50px);opacity: 0;}
        to{transform: translateX(0px);opacity: 1;}
    }

    .tab-content.active {
        display: block;
    }
}


.project {
    margin-bottom: 160px;   

    @media screen and (max-width: $md1) {
        margin-bottom: 100px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 48px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 10vw;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__row1 {
        display: flex;
        margin-bottom: 20px;

        @media screen and (max-width: $md1) {
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md2) {
            flex-direction: column;
            margin-bottom: 36px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 7.5vw;
        }
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #F6F8F7;
        border-radius: 12px;
        padding: 40px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            padding: 25px;
        }

        @media screen and (max-width: $md2) {
            border-radius: 0px;
            padding: 30px 0px;
            border-bottom-left-radius: 7.5px;
            border-bottom-right-radius: 7.5px;
            align-items: center;
            text-align: center;
        }

        @media screen and (max-width: $md3) {
            padding: 6.25vw 0px;
            border-bottom-left-radius: 1.563vw;
            border-bottom-right-radius: 1.563vw;
        }
    }

    &__title-up {
        display: flex;
        flex-direction: column;
    }

    &__subheading {
        display: flex;
        align-items: center;
        font-family: $fn;
        font-size: 14px;
        color: #E7A827;
        margin-bottom: 14px;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 8.75px;
            margin-bottom: 9px;
        }

        @media screen and (max-width: $md2) {
            font-size: 15px;
            margin-bottom: 12px;
            justify-content: center;
            line-height: 11px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.125vw;
            margin-bottom: 2.5vw;
            line-height: 2.188vw;
        }
    }

    &__subheading-line {
        display: block;
        height: 1px;
        width: 60px;
        background-color: #E7A827;
        margin-right: 12px;

        @media screen and (max-width: $md1) {
            height: 0.63px;
            width: 37.5px;
            margin-right: 7.5px;
        }

        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 32px;
        text-transform: capitalize;

        @media screen and (max-width: $md1) {
            font-size: 20px;
        }

        @media screen and (max-width: $md2) {
            font-size: 27px;
            line-height: 19px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5.625vw;
            line-height: 4.063vw;
        }
    }

    &__main-image {
        margin-right: 20px;
        position: relative;

        img {
            max-width: 842px;
            max-height: 400px;
            border-radius: 12px;
        }

        @media screen and (max-width: $md1) {
            margin-right: 12.5px;

            img {
                width: 526.25px;
                height: 250px;
                border-radius: 7.5px;
            }
        }

        @media screen and (max-width: $md2) {
            margin-right: 0;
            height: 240px;

            img {
                width: 420px;
                height: 240px;
                border-radius: 0px;
                border-top-left-radius: 7.5px;
                border-top-right-radius: 7.5px;
    
            }
        }

        @media screen and (max-width: $md3) {
            height: 50vw;

            img {
                width: 87.5vw;
                height: 50vw;
                border-top-left-radius: 1.563vw;
                border-top-right-radius: 1.563vw;
            }
        }
    }

    &__main-icon-zoom {
        width: 23.23px;
        height: 23.23px;
        position: absolute;
        right: 30px;
        bottom: 30px;
        padding: 17.5px 17.5px 19.36px 19.36px;
        background-color: #fff;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 14.52px;
            height: 14.52px;
            right: 18.75px;
            bottom: 18.75px;
            padding: 11px 11px 12px 12px;
        }

        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    &__view-btn {
        font-family: $fg;
        font-weight: 600;
        font-size: 18px;    
        color: #fff;
        padding: 18px 52px;
        background-color: #E7A827;
        border-radius: 6px;
        display: inline-flex;
        line-height: 100%;

        @media screen and (max-width: $md1) {
            font-size: 11.25px;
            padding: 11.5px 32.38px;
            border-radius: 3.75px;
        }

        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    &__view-btn-mobile {
        font-family: $fg;
        display: none;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;    
        color: #fff;
        padding: 24.5px 0px;
        background-color: #E7A827;
        border-radius: 7.5px;
        margin-bottom: 36px;

        .icon-white-arrow-right {
            margin-right: 9px;
            
            img {
                width: 15px;
            }
        }


        @media screen and (max-width: $md2) {
            display: flex;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.125vw;
            padding: 5.313vw 0px;
            border-radius: 5px;
            margin-bottom: 7.5vw;

            .icon-white-arrow-right {
                margin-right: 1.875vw;

                img {
                    width: 3.125vw;
                }
            }
        }
    }

    &__row2 {
        display: flex;
        align-items: stretch;
        margin-bottom: 20px;

        @media screen and (max-width: $md1) {
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 36px;
            flex-direction: column;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 7.5vw;
        }
    }

    &__descr-block {
        display: flex;
        align-items: center;
        background-color: #F6F8F7;
        border-radius: 12px;
        padding: 0px 0px 0px 40px;
        margin-right: 20px;
        width: 560px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            padding: 0px 0px 0px 25px;
            margin-right: 12.5px;
            width: 350px; 
        }

        @media screen and (max-width: $md2) {
            padding: 30px 0px 30px 24px;
            margin-right: 0;
            width: auto;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            padding: 6.25vw 0px 6.25vw 5vw;
            margin-bottom: 3.125vw;
        }
    }

    &__description {
        font-size: 20px;
        max-width: 480px;
        line-height: 160%;

        @media screen and (max-width: $md1) {
            font-size: 12.5px;
            max-width: 256px;
        }

        @media screen and (max-width: $md2) {
            max-width: 285px;
            font-size: 13.5px;
        }

        @media screen and (max-width: $md3) {
            max-width: 59.375vw;
            font-size: 2.813vw;
        }
    }

    &__param-block {
        display: flex;
        flex-wrap: wrap;
        background-color: #F6F8F7;
        border-radius: 12px;
        padding: 40px 0px 24px 40px;
        max-width: 552px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            padding: 25px 0px 15px 25px;
            max-width: 345px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 0px 30px 24px;
            max-width: 420px;
        }

        @media screen and (max-width: $md3) {
            padding: 6.25vw 0px 6.25vw 5vw;
            max-width: 87.5vw;
        }
    }

    &__parameter {
        font-size: 18px;
        padding: 15px 50px;
        background-color: #fff;
        border-radius: 22px;
        margin: 0px 16px 16px 0px;

        @media screen and (max-width: $md1) {
            font-size: 11.25px;
            padding: 10px 31px;
            border-radius: 13.75px;
            margin: 0px 10px 10px 0px;
        }

        @media screen and (max-width: $md2) {
            font-size: 13.5px;
            padding: 12px 30px;
            line-height: 9px;
            font-weight: 600;
            border-radius: 15.6px;
            margin: 0px 9px 9px 0px;
        }

        @media screen and (max-width: $md3) {
            font-size: 2.813vw;
            padding: 2.5vw 6.25vw;
            line-height: 1.875vw;
            border-radius: 3.253vw;
            margin: 0px 1.875vw 1.875vw 0px;
        }
    }

    &__master-plan {
        margin-bottom: 20px;

        &__wrapper {
            display: flex;
            flex-direction: column;
            padding: 60px 50px;
            background-color: #F6F8F7;
            border-radius: 12px;
            max-width: 1112px;

            @media screen and (max-width: $md1) {
                padding: 37px 31px;
                border-radius: 7.5px;
            }

            @media screen and (max-width: $md2) {
                padding: 24px 18px;
            }

            @media screen and (max-width: $md3) {
                padding: 5vw 3.75vw;
                border-radius: 5px;
            }
        }

        @media screen and (max-width: $md1) {
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 36px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 7.5vw;
        }
    }

    &__master-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        @media screen and (max-width: $md1) {
            margin-bottom: 31.5px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 3.125vw;
        }
    }

    &__master-title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 25px;
        }

        @media screen and (max-width: $md2) {
            font-size: 18px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.75vw;
        }
    }

    &__master-line {
        height: 1px;
        width: 654px;
        background-color: #B2B3B2;

        @media screen and (max-width: $md1) {
            height: 0.63px;
            width: 408.75px;
        }

        @media screen and (max-width: $md2) {
            height: 0.35px;
            width: 178.5px;
        }
        
        @media screen and (max-width: $md3) {
            height: 0.072vw;
            width: 37.188vw;
        }
    }

    &__master-zoom {
        width: 27px;
        height: 27px;
        padding: 20.32px 20.32px 22.58px 22.58px;
        background-color: #E7A827;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 17px;
            height: 17px;
            padding: 12.7px 12.7px 14.1px 14.1px;
        }

        @media screen and (max-width: $md2) {
            width: 9px;
            height: 9px;
            padding: 7.5px;
        }

        @media screen and (max-width: $md3) {
            width: 1.875vw;
            height: 1.875vw;
            padding: 1.563vw;
        }
    }

    &__master-image {
        width: 1112px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 695px;
        }

        @media screen and (max-width: $md2) {
            width: 384px;
        }

        @media screen and (max-width: $md3) {
            width: 80vw;
        }
    }

    &__video-block {
        display: flex;
        justify-content: space-between;
        padding: 60px;
        background-color: #FFD174;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            padding: 37.5px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md2) {
            flex-direction: column;
            padding: 30px 24px;
        }

        @media screen and (max-width: $md3) {
            padding: 6.25vw 5vw;
        }
    }

    &__video-content {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $md2) {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 6.25vw;
        }
    }

    &__video-title {
        font-family: $fn;
        font-weight: 700;
        font-size: 38px;
        margin-bottom: 36px;

        span {
            text-transform: capitalize;
            text-wrap: nowrap;
        }

        @media screen and (max-width: $md1) {
            font-size: 23.75px;
            margin-bottom: 22px;
        }

        @media screen and (max-width: $md2) {
            font-size: 18px;
            margin-bottom: 0;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.75vw;
        }
    }

    &__video-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19.57px;
        height: 14.35px;
        padding: 22.17px 19.57px 23.48px 20.87px;
        background-color: #fff;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 12.23px;
            height: 9px;
            padding: 13.86px 12.23px 14.67px 13.04px;
        }

        @media screen and (max-width: $md2) {
            width: 8.8px;
            height: 6.5px;
            padding: 10px 9px;
        }

        @media screen and (max-width: $md3) {
            width: 1.834vw;
            height: 1.344vw;
            padding: 2.188vw 1.875vw;
        }
    }

    &__video-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 675px;
        height: 272px;
        background-color: #FFE0A0;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            width: 422px;
            height: 170px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md2) {
            width: 372px;
            height: 210px;
        }

        @media screen and (max-width: $md3) {
            width: 77.5vw;
            height: 43.75vw;
            border-radius: 1.25vw;
        }
    }

    &__video-icon-play {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.43px;
        height: 33.43px;
        padding: 19.5px;
        background-color: #fff;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 21px;
            height: 21px;
            padding: 12.19px;
        }

        @media screen and (max-width: $md2) {
            width: 16.62px;
            height: 16.62px;
            padding: 9.69px;
        }

        @media screen and (max-width: $md3) {
            width: 3.438vw;
            height: 3.438vw;
            padding: 2.031vw;
        }
    }
}
