.project-start {
    margin: 40px 0px 120px;

    @media screen and (max-width: $md1) {
        margin: 25px 0px 75px;
    }

    @media screen and (max-width: $md2) {
        margin: 27px 0px 36px;
    }

    @media screen and (max-width: $md3) {
        margin: 5.625vw 0px 10vw;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__main-image {
        width: 1212px;
        height: 554px;
        border-radius: 12px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            object-fit: cover;
        }

        @media screen and (max-width: $md1) {
            width: 757.5px;
            height: 346.5px;
            margin-bottom: 12.5px;

            img {
                border-radius: 7.5px;
            }
        }

        @media screen and (max-width: $md2) {
            width: 420px;
            height: 468px;
            margin-bottom: 15px;

            img {
                object-fit: cover;
            }
        }

        @media screen and (max-width: $md3) {
            width: 87.5vw;
            height: 97.5vw;
            margin-bottom: 3.125vw;
        }
    }

    &__content {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 42px 40px;
        background-color: #F6F8F7;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            padding: 26px 25px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 24px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            padding: 6.25vw;
            margin-bottom: 3.125vw;
        }
    }

    &__subheading {
        font-family: $fn;
        font-size: 32px;
        line-height: 100%;
        color: #E7A827;
        margin-bottom: 24px;

        @media screen and (max-width: $md1) {
            font-size: 20px;
            margin-bottom: 16px;
        }

        @media screen and (max-width: $md2) {
            font-size: 18px;
            margin-bottom: 18px;
        }

        @media screen and (max-width: $md3) {
            font-size: 4.375vw;
            margin-bottom: 3.75vw;
        }
    }

    &__title {
        font-family: $fn;
        font-size: 64px;
        line-height: 120%;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 40px;
        }

        @media screen and (max-width: $md2) {
            font-size: 36px;
        }

        @media screen and (max-width: $md3) {
            font-size: 8.5vw;
        }
    }

    &__request {
        // position: absolute;
        // right: -47px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // padding: 155px 87px 153px 57px;

        &__ellipse1 {
            position: absolute;
            right: -195%;
            width: 639px;
            height: 416px;
            border: 2px solid #DFA633;
            border-radius: 50%;
            opacity: 0.1;
        }

        &__ellipse2 {
            position: absolute;
            right: -180%;
            width: 577px;
            height: 376px;
            border: 2px solid #DFA633;
            border-radius: 50%;
            opacity: 0.3;
        }

        &__ellipse3 {
            position: absolute;
            right: -165%;
            top: 50%;
            transform: translateY(-50%);
            width: 516px;
            height: 338px;
            border: 2px solid #DFA633;
            border-radius: 50%;
            opacity: 0.4;
        }

        &__ellipse4 {
            position: absolute;
            right: -150%;
            // top: 50%;
            // transform: translateX(50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 457px;
            height: 296px;
            border: 2px solid #DFA633;
            border-radius: 50%;
        }

        &__content {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            align-items: end;
            font-family: $fn;
            font-size: 22px;
            color: #E7A827;
            width: auto;

            @media screen and (max-width: $md1) {
                font-size: 13.75px;
            }
        }

        &__image-text {
            margin-right: 12px;

            @media screen and (max-width: $md1) {
                margin-right: 7.25px;
            }
        }

        img {
            width: 24px;
            margin-right: 8px;
        }

        @media screen and (max-width: $md1) {
            img {
                width: 15px;
                margin-right: 5px;
            }

            &__ellipse1 {
                width: 399px;
                height: 260px;
                border: 1.25px solid #DFA633;
            }

            &__ellipse2 {
                width: 360px;
                height: 235px;
                border: 1.25px solid #DFA633;
            }

            &__ellipse3 {
                width: 323px;
                height: 211px;
                border: 1.25px solid #DFA633;
            }

            &__ellipse4 {
                width: 286px;
                height: 185px;
                border: 1.25px solid #DFA633;
            }
        }

        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    &__request-mobile {
        display: none;
        background-color: #E7A827;
        padding: 24px 117px;
        border-radius: 7.5px;

        img {
            width: 15px;
            margin-right: 9px;
        }

        span {
            font-family: $fn;
            font-size: 15px;
            line-height: 100%;
            color: #fff;
        }
        
        @media screen and (max-width: $md2) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width: $md3) {
            width: 87.5vw;
            height: 16.875vw;
            padding: 0;
            border-radius: 1.563vw;

            img {
                width: 5vw;
                height: 2.5vw;
            }

            span {
                font-size: 4.375vw;
            }
        }
    }
}


.project-descr {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }

    &__container {
        background-color: #F6F8F7;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md2) {
            display: flex;
            flex-direction: column-reverse;
            max-width: 372px;
            padding: 36px 24px;
        }

        @media screen and (max-width: $md3) {
            max-width: 77.5vw;
            padding: 7.5vw 5vw;
        }
    }

    &__slider {
        position: relative;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        img {
            width: 1092px;
            height: 500px;
            border-radius: 12px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            object-fit: cover;
        }

        @media screen and (max-width: $md1) {
            
            .swiper-slide {
                padding-top: 37.5px;
            }

            img {
                width: 682.5px;
                height: 312.5px;
                border-radius: 7.5px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 45px;

            .swiper-slide {
                padding: 0;
            }

            img {
                width: 372px;
                height: 240px;
                border-radius: 6px;
            }
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 9.375vw;

            img {
                width: 77.5vw;
                height: 50vw;
                border-radius: 1.25vw;
            }
        }

        &__arrows {
            display: none;

            @media screen and (max-width: $md2) {
                display: flex;
                justify-content: center;
                gap: 0px 15.5px;
            }

            @media screen and (max-width: $md3) {
                gap: 0px 3.125vw;
            }
        }
    }

    .project-slider-arrow {
        position: absolute;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 20px;
        border-radius: 50%;
        background-color: #fff;
        
        img {
            width: 20px;
            height: 14.5px;
        }

        @media screen and (max-width: $md1) {
            padding: 14px 12.5px;

            img {
                width: 12.3px;
                height: 9.11px;
            }
        }

        @media screen and (max-width: $md2) {
            background-color: #000;
            padding: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #E7A827;

            img {
                width: 4.57px;
                height: 9.13px;
            }
        }

        @media screen and (max-width: $md3) {
            width: 6.25vw;
            height: 6.25vw;

            img {
                width: 0.938vw;
                height: 1.875vw;
            }
        }
    }

    .swiper-button-prev-custom {
        top: 250px;
        left: 30px;

        @media screen and (max-width: $md1) {
            top: 156.25px;
            left: 18.75px
        }

        @media screen and (max-width: $md2) {
            top: 255px;
            left: 148.25px;
        }

        @media screen and (max-width: $md3) {
            top: 53.125vw;
            left: 30.938vw;
        }
    }
    
    .swiper-button-next-custom {
        top: 250px;
        right: 30px;

        @media screen and (max-width: $md1) {
            top: 156.25px;
            right: 18.75px
        }

        @media screen and (max-width: $md2) {
            top: 255px;
            left: 193.75px;
        }

        @media screen and (max-width: $md3) {
            top: 53.125vw;
            left: 40.313vw;
        }
    }



    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px;

        @media screen and (max-width: $md1) {
            padding: 37.5px;
        }

        @media screen and (max-width: $md2) {
            flex-direction: column-reverse;
            justify-content: start;
            align-items: start;
            padding: 0;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 160%;
        max-width: 490px;

        @media screen and (max-width: $md1) {
            font-size: 12.5px;
            max-width: 307px;
        }

        @media screen and (max-width: $md2) {
            font-size: 13.5px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.438vw;
            max-width: 63.438vw;
            margin-bottom: 4.125vw;
        }
    }

    &__about {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 25px;
        }

        @media screen and (max-width: $md2) {
            font-size: 24px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: $md3) {
            font-size: 6.875vw;
            margin-bottom: 4.125vw;
        }
    }
}


.project-master-plan {

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F8F7;
        padding: 60px 50px;
        margin-bottom: 120px;

        @media screen and (max-width: $md1) {
            padding: 37.5px 31.5px;
            margin-bottom: 75px;
            border-radius: 7.5px;
        }
    
        @media screen and (max-width: $md2) {
            padding: 24px 18px 30px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            padding: 5vw 3.75vw 6.25vw;
            margin-bottom: 3.125vw;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @media screen and (max-width: $md1) {
            margin-bottom: 31.5px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 3.125vw;
        }
    }

    &__title {
        align-self: flex-start;
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 40px;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 25.25px;
        }

        @media screen and (max-width: $md2) {
            align-self: auto;
            font-size: 18px;
            margin-bottom: 24px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5.625vw;
            margin-bottom: 5vw;
        }
    }

    &__line {
        height: 1px;
        width: 654px;
        background-color: #B2B3B2;

        @media screen and (max-width: $md1) {
            height: 0.63px;
            width: 408.75px;
        }

        @media screen and (max-width: $md2) {
            height: 0.35px;
            width: 178.5px;
        }
        
        @media screen and (max-width: $md3) {
            height: 0.072vw;
            width: 37.188vw;
        }
    }

    &__zoom {
        width: 27px;
        height: 27px;
        padding: 20.32px 20.32px 22.58px 22.58px;
        background-color: #E7A827;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 17px;
            height: 17px;
            padding: 12.7px 12.7px 14.1px 14.1px;
        }

        @media screen and (max-width: $md2) {
            width: 9px;
            height: 9px;
            padding: 7.5px;
        }

        @media screen and (max-width: $md3) {
            width: 1.875vw;
            height: 1.875vw;
            padding: 1.563vw;
        }
    }

    &__image {
        width: 1112px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 695px;
        }

        @media screen and (max-width: $md2) {
            width: 384px;
        }

        @media screen and (max-width: $md3) {
            width: 80vw;
        }
    }

    &__btn {
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E7A827;
        padding: 26px 40px;
        border-radius: 6px;

        span {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            color: #fff;
        }

        @media screen and (max-width: $md1) {
            padding: 16.2px 25px;
            border-radius: 3.75px;

            span {
                font-size: 12.5px;
            }
        }

        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    &__btn-mobile {
        display: none;

        @media screen and (max-width: $md2) {
            display: flex;
            margin-bottom: 36px;

            img {
                width: 15px;
                margin-right: 9px;
            }

            span {
                font-size: 15px;
                text-transform: uppercase;
            }
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 7.5vw;

            img {
                width: 5vw;
                margin-right: 2.5vw;
            }

            span {
                font-size: 4.375vw;
            }
        }
    }
}


.project-structure {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }

    &__wrapper {
        background-color: #F6F8F7;
        padding: 60px 0px 60px 50px;

        @media screen and (max-width: $md1) {
            padding: 37.5px 0px 37.5px 31.25px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 0px 30px 24px;
        }

        @media screen and (max-width: $md3) {
            padding: 7.5vw 5vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 41px;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: $md2) {
            font-size: 24px;
            margin-bottom: 24px;
            line-height: 130%;
            max-width: 250px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5.625vw;
            margin-bottom: 7.5vw;
            max-width: 62.5vw;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 810px;

        @media screen and (max-width: $md1) {
            gap: 19.5px;
            max-width: 507px;
        }

        @media screen and (max-width: $md2) {
            gap: 9px 0px;
            max-width: 257px;
        }

        @media screen and (max-width: $md3) {
            gap: 2.5vw 0px;
            max-width: 75vw;
        }
    }

    &__param {
        font-size: 24px;
        padding: 20px 40px;
        line-height: 75%;
        background-color: #fff;
        border-radius: 29px;

        @media screen and (max-width: $md1) {
            font-size: 15px;
            padding: 12.5px 25px;
            border-radius: 18px;
        }

        @media screen and (max-width: $md2) {
            font-size: 13.5px;
            padding: 12px 30px;
            border-radius: 17px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.75vw;
            padding: 3.75vw 6.25vw;
            border-radius: 5.156vw;
        }
    }
}


.project-filter {
    margin-bottom: 24px;

    @media screen and (max-width: $md1) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 3.125vw;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        background-color: #F6F8F7;
        padding-right: 0;

        @media screen and (max-width: $md2) {
            padding: 30px 0px 30px 24px;
        }

        @media screen and (max-width: $md3) {
            padding: 7.5vw 0px 7.5vw 5vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 36px;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 22px;
        }

        @media screen and (max-width: $md2) {
            font-size: 24px;
            margin-bottom: 16px;
        }

        @media screen and (max-width: $md3) {
            font-size: 6.25vw;
            margin-bottom: 6.25vw;
        }
    }

    &__input-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 16px;

        @media screen and (max-width: $md1) {
            font-size: 11.25px;
            margin-bottom: 10px;
        }

        @media screen and (max-width: $md2) {
            font-size: 13.5px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.125vw;
            margin-bottom: 3.75px;
        }
    }

    &__bedroom {
        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $md2) {
            align-items: start;
            flex-direction: column;
        }
    }

    &__form-blocks {
        display: flex;

        input[type="radio"] {
            display: none;
        }

        &__el + &__el {
            margin-left: 80px;

            @media screen and (max-width: $md1) {
                margin-left: 50px;
            }

            @media screen and (max-width: $md2) {
                margin-left: 30px;
            }

            @media screen and (max-width: $md3) {
                margin-left: 6.25vw;
            }
        }

        @media screen and (max-width: $md2) {
            flex-direction: column;
        }
    }

    &__range-block {
        display: flex;
        gap: 0px 80px;
        margin-left: 80px;

        @media screen and (max-width: $md1) {
            gap: 0px 50px;
        }

        @media screen and (max-width: $md2) {
            gap: 0px 30px;
            margin: 30px 0px 0px;
        }

        @media screen and (max-width: $md3) {
            gap: 0px 6.25vw;
            margin-top: 6.25vw;
        }
    }

    &__radio-wrapper {
        display: flex;
    }

    &__radio {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B2B3B2;
        border-radius: 4px;
        padding: 17px 0px;
        width: 50px;
        color: #fff;
        font-weight: 600;
        font-size: 24px;
        line-height: 67%;
        margin-right: 8px;

        &:last-child {
            width: 60px;
            margin-right: 0px;
        }

        @media screen and (max-width: $md1) {
            border-radius: 2.5px;
            padding: 10.5px 0px;
            width: 31.25px;
            font-size: 15px;
            margin-right: 5px;

            &:last-child {
                width: 37.5px;
            }
        }

        @media screen and (max-width: $md2) {
            border-radius: 6px;
            padding: 11.5px 15px;
            width: 11px;
            font-size: 18px;
            margin-right: 6px;

            &:last-child {
                width: 20px;
            }
        }

        @media screen and (max-width: $md3) {
            border-radius: 1.25vw;
            padding: 2.5vw 4.063vw;
            width: 2.313vw;
            font-size: 5vw;
            margin-right: 1.25vw;

            &:last-child {
                width: 5.663vw;
            }
        }
    }

    .radio-active {
        background-color: #DFA633;
    }

    &__range-wrapper {
        .project-filter__input-title, .project-filter__field {
            margin-left: 10px;

            @media screen and (max-width: $md1) {
                margin-left: 6px;
            }

            @media screen and (max-width: $md2) {
                margin-left: 0;
            }
        }
    }

    &__number-input {
        display: flex;
        margin-bottom: 16px;

        @media screen and (max-width: $md1) {
            margin-bottom: 10.5px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 18px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 4.375vw;
        }
    }

    &__text {
        font-size: 18px;
        color: #949494;
        margin-right: 8px;
        line-height: 100%;

        @media screen and (max-width: $md1) {
            font-size: 11.25px;
            margin-right: 4.75px;
        }

        @media screen and (max-width: $md2) {
            font-size: 12px;
            margin-right: 6px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.125vw;
            margin-right: 1.25vw;
        }
    }

    &__field {
        display: flex;
        align-items: center;

        input {
            font-family: $fg;
            display: flex;
            background-color: inherit;
            border: 0px;
            padding: 0;
            margin: 0px;
            width: 103.5px;
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
            pointer-events: none;

            @media screen and (max-width: $md1) {
                width: 66px;
                font-size: 15px;
            }

            @media screen and (max-width: $md2) {
                width: 78px;
                font-size: 18px;
            }

            @media screen and (max-width: $md3) {
                width: 19.063vw;
                font-size: 4.375vw;
            }
        }
        
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        span {
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;

            @media screen and (max-width: $md1) {
                font-size: 15px;
            }

            @media screen and (max-width: $md2) {
                font-size: 18px;
            }

            @media screen and (max-width: $md3) {
                font-size: 4.375vw;
            }
        }

        .square-input-style {
            width: 69px;

            @media screen and (max-width: $md1) {
                width: 42px;
            }

            @media screen and (max-width: $md2) {
                width: 52px;
            }

            @media screen and (max-width: $md3) {
                width: 12.625vw;
            }
        }
    }
    
    &__slider {
        position: relative;
        width: 192px;
        height: 2px;
        background-color: #B2B2B2;
        display: flex;
        align-items: center;

        @media screen and (max-width: $md1) {
            width: 120px;
            height: 1.25px;
        }

        @media screen and (max-width: $md2) {
            width: 150px;
            height: 1.5px;
        }

        @media screen and (max-width: $md3) {
            width: 31.25vw;
            height: 0.313vw;
        }
    }

    &__progress {
        display: flex;
        align-items: center;
        height: 100%;
        left: 0%;
        width: 50%;
        height: 2px;
        position: absolute;
        background-color: #DFA633;

        &__left {
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #DFA633;
        }
        
        &__right {
            position: absolute;
            width: 8px;
            height: 8px;
            right: 0;
            border-radius: 50%;
            background-color: #B2B3B2;
        }

        @media screen and (max-width: $md1) {
            height: 1.25px;

            &__left {
                width: 6px;
                height: 6px;
            }
            &__right {
                width: 6px;
                height: 6px;
            }
        }

        @media screen and (max-width: $md2) {
            height: 1.5px;

            &__left {
                width: 7.5px;
                height: 7.2px;
            }

            &__left {
                width: 7.5px;
                height: 7.2px;
            }
        }

        @media screen and (max-width: $md3) {
            height: 0.313vw;
            
            &__left {
                width: 1.563vw;
                height: 1.563vw;
            }
            
            &__right {
                width: 1.563vw;
                height: 1.563vw;
            }
        }
    }

    &__range-input {
        position: relative;

        input {
            position: absolute;
            width: 100%;
            height: 2px;
            margin: 0;
            top: -2px;
            background: none;
            pointer-events: none;
            -webkit-appearance: none;

            @media screen and (max-width: $md1) {
                height: 1.25px;
                top: -1.25px;
            }

            @media screen and (max-width: $md2) {
                height: 1.5px;
                top: -1.5px;
            }

            @media screen and (max-width: $md3) {
                height: 0.313vw;
                top: -0.313vw;
            }
        }
    }
    
    input[type="range"]::-webkit-slider-thumb {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #DFA633;
        pointer-events: auto;
        -webkit-appearance: none;

        @media screen and (max-width: $md1) {
            width: 7.5px;
            height: 7.5px;
        }

        @media screen and (max-width: $md2) {
            width: 10.5px;
            height: 10.5px;
        }

        @media screen and (max-width: $md3) {
            width: 2.188vw;
            height: 2.188vw;
        }
    }

    &__submit {
        margin-top: 23px;
        background-color: #E7A827;
        padding: 18px 50px 18px 40px;
        border: 0px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        font-family: $fn;
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        line-height: 80%;
        height: 100%;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            margin-top: 14px;
            padding: 11.25px 31.25px 11.25px 25px;
            border-top-left-radius: 15.63px;
            border-bottom-left-radius: 15.63px;
            font-size: 12.5px;
        }

        @media screen and (max-width: $md2) {
            text-transform: capitalize;
            margin-top: 30px;
            padding: 15px 24px;
            border-radius: 22.5px;
            font-size: 21px;
        }

        @media screen and (max-width: $md3) {
            margin-top: 6.25vw;
            padding: 3.125vw 5vw;
            border-radius: 4.688vw;
            font-size: 4.375vw;
        }
    }
}


.project-apartments {
    margin-bottom: 120px;
    
    @media screen and (max-width: $md1) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 3.125vw;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        background-color: #F6F8F7;

        @media screen and (max-width: $md1) {
            gap: 12.5px;
            padding: 31.25px;
        }

        @media screen and (max-width: $md2) {
            gap: 16px;
            padding: 30px 24px;
        }

        @media screen and (max-width: $md3) {
            gap: 5vw;
            padding: 6.25vw 5vw;
        }
    }

    &__apart {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 46px;
        background-color: #fff;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            border-radius: 7.5px;
            padding: 25px 28.5px;
        }

        @media screen and (max-width: $md2) {
            padding: 30px 51px;
        }

        @media screen and (max-width: $md3) {
            padding: 7.5vw;
            border-radius: 1.563vw;
        }

        &__tags {
            display: flex;
            margin-bottom: 20px;

            @media screen and (max-width: $md1) {
                margin-bottom: 12.5px;
            }

            @media screen and (max-width: $md2) {
                margin-bottom: 15px;
            }

            @media screen and (max-width: $md3) {
                margin-bottom: 3.75vw;
            }
        }

        &__tag + &__tag {
            margin-left: 4px;

            @media screen and (max-width: $md1) {
                margin-left: 2.5px;
            }

            @media screen and (max-width: $md2) {
                margin-left: 6px;
            }

            @media screen and (max-width: $md3) {
                margin-left: 1.25vw;
            }
        }

        &__tag {
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            color: #fff;
            padding: 15px 20px;
            background-color: #DFA633;
            border-radius: 21.5px;

            @media screen and (max-width: $md1) {
                font-size: 11.25px;
                padding: 9.37px 12.5px;
                border-radius: 13.44px;
            }

            @media screen and (max-width: $md2) {
                font-size: 15px;
                padding: 13px 15px;
                border-radius: 18px;
            }

            @media screen and (max-width: $md3) {
                font-size: 4.375vw;
                padding: 3.75vw;
                border-radius: 5.313vw;
            }
        }

        &__image {
            width: 216px;
            height: 290px;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: $md1) {
                width: 135px;
                height: 181px;
                margin-bottom: 18.75px;
            }

            @media screen and (max-width: $md2) {
                width: 243px;
                height: 330px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: $md3) {
                width: 62.5vw;
                height: 84.375vw;
                margin-bottom: 9.375vw;
            }
        }

        &__content {
            width: 265px;

            @media screen and (max-width: $md1) {
                width: 166.25px;
            }

            @media screen and (max-width: $md2) {
                width: 255px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: $md3) {
                width: 62.5vw;
                margin-bottom: 9.375vw;
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 15px 0px;
            border-bottom: 1px solid #E9E9E9;

            &:first-child {
                padding-top: 0px;
            }

            &:last-child {
                border-bottom: 0px;
                padding-bottom: 0px;
            }

            @media screen and (max-width: $md1) {
                padding: 9px 0px;
            }

            @media screen and (max-width: $md2) {
                padding: 18px 0px;
            }

            @media screen and (max-width: $md3) {
                padding: 5vw;
            }
        }

        &__text {
            font-size: 15px;
            line-height: 100%;

            @media screen and (max-width: $md1) {
                font-size: 9.38px;
            }

            @media screen and (max-width: $md2) {
                font-size: 15px;
            }

            @media screen and (max-width: $md3) {
                font-size: 4.063vw;
            }
        }

        &__text2 {
            font-weight: 600;
            font-size: 20px;

            @media screen and (max-width: $md1) {
                font-size: 12.5px;
            }

            @media screen and (max-width: $md2) {
                font-size: 18px;
            }

            @media screen and (max-width: $md3) {
                font-size: 5vw;
            }
        }

        &__show-more-mobile {
            display: none;

            @media screen and (max-width: $md2) {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                font-family: $fn;
                font-weight: 700;
                font-size: 15px;
                line-height: 100%;
                color: #fff;
                background-color: #E7A827;
                width: 270px;
                height: 58.5px;
                border-radius: 7.5px;
            }

            @media screen and (max-width: $md3) {
                font-size: 4.375vw;
                width: 62.5vw;
                height: 14.375vw;
                border-radius: 1.563vw;
            }
        }
    }

    &__show-more {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 357px;
        height: 653.2px;
        color: #777777;

        span {
            font-size: 16px;
        }

        @media screen and (max-width: $md1) {
            width: 223.12px;
            height: 381.25px;

            span {
                font-size: 10px;
            }
        }

        @media screen and (max-width: $md2) {
            text-transform: uppercase;
            width: 372px;
            height: 58.5px;
            background-color: #B2B2B2;
            border-radius: 7.5px;

            span {
                font-family: $fn;
                font-weight: 700;
                font-size: 15px;
                line-height: 100%;
                color: #fff;
            }
        }

        @media screen and (max-width: $md3) {
            width: 77.5vw;
            height: 14.375vw;
            border-radius: 1.563vw;
            
            span {
                font-size: 4.375vw;
            }
        }
    }
    
    .hide-content {
        overflow: hidden;
        display: none;
    }
}


.project-facilites {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 3.125vw;
    }

    &__content {
        
        @media screen and (max-width: $md2) {
            text-align: center;
            background-color: #F6F8F7;
            border-radius: 7.5px;
            padding: 30px 24px;
            margin-bottom: 36px;
        }
        
        @media screen and (max-width: $md3) {
            border-radius: 1.563vw;
            padding: 7.5vw 5vw;
            margin-bottom: 7.5vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 32px;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 19.5px;
        }

        @media screen and (max-width: $md2) {
            font-size: 24px;
            margin-bottom: 24px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5.625vw;
            margin-bottom: 6.25vw;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 20px;

        @media screen and (max-width: $md1) {
            gap: 7.5px;
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md2) {
            gap: 9px 0px;
            margin-bottom: 0px;
        }

        @media screen and (max-width: $md3) {
            gap: 1.875vw 0px;
        }
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F6F8F7;
        width: 316px;
        border-radius: 12px;
        padding: 70px 40px;

        @media screen and (max-width: $md1) {
            width: 197.5px;
            border-radius: 7.5px;
            padding: 43.5px 25px;
        }

        @media screen and (max-width: $md2) {
            background-color: #fff;
            width: 372px;
            border-radius: 6px;
            padding: 24px;
        }

        @media screen and (max-width: $md3) {
            width: 77.5vw;
            border-radius: 1.25vw;
            padding: 5vw;
        }
    }

    &__name {
        font-size: 20px;
        line-height: 130%;
        max-width: 170px; 

        @media screen and (max-width: $md1) {
            font-size: 12.5px;
            max-width: 107px;
        }

        @media screen and (max-width: $md2) {
            font-weight: 600;
            font-size: 13.5px;
            max-width: none;
        
        }

        @media screen and (max-width: $md3) {
            text-align: start;
            font-size: 3.75vw;
            max-width: 37.5vw;
        }
    }

    &__distance {
        font-family: $fn;
        font-weight: 700;
        font-size: 30px;
        color: #DFA633;

        @media screen and (max-width: $md1) {
            font-size: 18.75px;
        }

        @media screen and (max-width: $md2) {
            font-size: 18px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5vw;
        }
    }

    &__map {
        position: relative;

        iframe {
            width: 1212px;
            height: 606px;
            border-radius: 12px;

            @media screen and (max-width: $md1) {
                width: 757.6px;
                height: 379px;
                border-radius: 7.5px;                
            }

            @media screen and (max-width: $md2) {
                width: 420px;
                height: 270px;
                margin-bottom: 15px;
            }

            @media screen and (max-width: $md3) {
                width: 87.5vw;
                height: 56.25vw;
                margin-bottom: 3.125vw;
            }
        }
    }

    &__map-content {
        position: absolute;
        left: 50px;
        bottom: 50px;
        padding: 48px 52px;
        background-color: #fff;
        border-radius: 8px;

        @media screen and (max-width: $md1) {
            left: 31.25px;
            bottom: 31.25px;
            padding: 30px 32.5px;
            border-radius: 5px;
        }

        @media screen and (max-width: $md2) {
            position: static;
            left: 0;
            bottom: 0;
            padding: 36px 24px;
            background-color: #F6F8F7;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md3) {
            padding: 7.5vw 5vw;
            border-radius: 1.563vw;
        }

        &__title {
            font-family: $fn;
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
            text-transform: uppercase;
            margin-bottom: 24px;

            @media screen and (max-width: $md1) {
                font-size: 15px;
                margin-bottom: 15px;
            }

            @media screen and (max-width: $md2) {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 24px;
            }

            @media screen and (max-width: $md3) {
                font-size: 5.625vw;
                margin-bottom: 5vw;
            }
        }

        &__row {
            display: flex;

            @media screen and (max-width: $md2) {
                flex-direction: column;
            }
        }

        &__column {
            @media screen and (max-width: $md2) {
                background-color: #fff;
                padding: 24px;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                padding: 6.25vw 5vw;
                border-radius: 1.25vw;
            }
        }

        &__column + &__column {
            margin-left: 56px;

            @media screen and (max-width: $md1) {
                margin-left: 35px;
            }

            @media screen and (max-width: $md2) {
                margin: 9px 0px 0px;
            }

            @media screen and (max-width: $md3) {
                margin-top: 2.5vw;
            }
        }

        &__subheading {
            font-size: 12px;
            line-height: 100%;
            color: #DFA633;
            margin-bottom: 16px;

            @media screen and (max-width: $md1) {
                font-size: 7.5px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: $md2) {
                font-size: 15px;
                margin-bottom: 18px;
            }

            @media screen and (max-width: $md3) {
                font-size: 4.375vw;
                margin-bottom: 3.75vw;
            }
        }

        &__text {
            display: block;
            font-weight: 600;
            font-size: 13px;
            max-width: 204px;

            @media screen and (max-width: $md1) {
                font-size: 8px;
                max-width: 127px;
            }

            @media screen and (max-width: $md2) {
                font-size: 19.5px;
                max-width: 260px;

                &:last-child {
                    font-size: 13.5px;
                }
            }

            @media screen and (max-width: $md3) {
                font-size: 4.688vw;
                max-width: 54.688vw;

                &:last-child {
                    font-size: 3.75vw;
                }
            }
        }
    }
}


.project-consult {
    margin-bottom: 120px;
    
    @media screen and (max-width: $md1) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 3.125vw;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 70px;
        background-color: #F6F8F7;

        @media screen and (max-width: $md1) {
            padding: 50px 43.75px;
        }

        @media screen and (max-width: $md2) {
            justify-content: start;
            align-items: start;
            flex-direction: column;
            background-color: #fff;
            padding: 0;
        }
    }

    &__content {

        @media screen and (max-width: $md2) {
            background-color: #F6F8F7;
            width: 372px;
            padding: 30px 24px;
            border-radius: 7.5px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md3) {
            padding: 7.5vw 5vw;
            border-radius: 1.563vw;
            width: 77.5vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 48px;
        max-width: 397px;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 30px;
            max-width: 250px;
        }

        @media screen and (max-width: $md2) {
            font-size: 24px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5.625vw;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 160%;
        max-width: 506px;

        @media screen and (max-width: $md1) {
            font-size: 12.5px;
            max-width: 317px;
        }

        @media screen and (max-width: $md2) {
            font-size: 13.5px;
            max-width: 280px;
            margin-bottom: 0px;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.438vw;
            max-width: 71.875vw;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 65px;
        background-color: #DFA633;
        border-radius: 12px;
        text-transform: uppercase;

        img {
            display: none;

            @media screen and (max-width: $md2) {
                display: block;
                width: 24px;
                margin-right: 12px;
            }
            
            @media screen and (max-width: $md3) {
                width: 5vw;
                margin-right: 2.5vw;
            }
        }

        span {
            font-family: $fn;
            color: #fff;
            font-weight: 600;
            font-size: 30px;
            line-height: 70%;
        }

        @media screen and (max-width: $md1) {
            padding: 25px 40.5px;
            border-radius: 7.5px;

            span {
                font-size: 18.75px;
            }
        }

        @media screen and (max-width: $md2) {
            width: 420px;
            height: 81px;
            padding: 0;

            img {
                display: flex;
                width: 24px;
                height: 15px;
                margin-right: 12px;
            }

            span {
                font-weight: 700;
                font-size: 15px;
            }
        }

        @media screen and (max-width: $md3) {
            width: 87.5vw;
            height: 16.875vw;

            img {
                width: 5vw;
                height: 3.125vw;
                margin-right: 2.5vw;
            }

            span {
                font-size: 4.375vw;
            }
        }
    }
}


.project-location {
    margin-bottom: 160px;

    @media screen and (max-width: $md1) {
        margin-bottom: 100px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 15vw;
    }
}