.villa-start {
    margin: 105px 0px 120px;

    @media screen and (max-width: $md1) {
        margin: 66px 0px 75px;
    }

    @media screen and (max-width: $md2) {
        margin: 48px 0px 36px;
    }

    @media screen and (max-width: $md3) {
        margin: 10vw 7.5vw;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 945px;

        @media screen and (max-width: $md1) {
            max-width: 591.38px;
        }

        @media screen and (max-width: $md2) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            max-width: 420px;
        }
    }

    &__image {
        width: 483px;
        height: 600px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: $md1) {
            width: 302px;
            height: 362.5px;
        }

        @media screen and (max-width: $md2) {
            width: 420px;
            height: 489px;
            margin-bottom: 45px;
        }

        @media screen and (max-width: $md3) {
            width: 87.5vw;
            height: 101.875vw;
            margin-bottom: 5.625vw;
        }
    }

    &__subheading {
        font-family: $fn;
        font-size: 16px;
        line-height: 70%;
        margin-bottom: 24px;
        text-transform: capitalize;

        @media screen and (max-width: $md1) {
            font-size: 10px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md2) {
            font-size: 18px;
            margin-bottom: 21px;
            opacity: 0.3;
        }

        @media screen and (max-width: $md3) {
            font-size: 3.75vw;
            margin-bottom: 4.375vw;
        }
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 24px;
        line-height: 70%;
        color: #E7A827;
        margin-bottom: 24px;

        @media screen and (max-width: $md1) {
            font-size: 15px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 21px;
            line-height: 135%;

            &-1 {
                font-size: 30px;
            }

            &-2 {
                font-size: 24px;
            }

            &-3 {
                font-size: 18px;
            }
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 4.375vw;

            &-1 {
                font-size: 6.25vw;
            }

            &-2 {
                font-size: 5vw;
            }

            &-3 {
                font-size: 3.75vw;
            }
        }
    }

    &__price {
        font-family: $fn;
        font-weight: 700;
        font-size: 26px;
        line-height: 70%;
        margin-bottom: 40px;

        @media screen and (max-width: $md1) {
            font-size: 16.25px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: $md2) {
            font-size: 27px;
            margin-bottom: 57px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5.625vw;
            margin-bottom: 10vw;
        }
    }

    &__params {
        width: 362px;
        margin-bottom: 40px;

        @media screen and (max-width: $md1) {
            width: 226.25px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: $md2) {
            width: 348px;
            margin-bottom: 15px;
            background-color: #F6F8F7;
            padding: 42px 36px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md3) {
            width: 72.5vw;
            margin-bottom: 3.125vw;
            padding: 8.75vw 7.5vw;
            border-radius: 1.563vw;
        }
    }

    &__param {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        border-bottom: 1px solid #E7E7E7;

        &:first-child {
            border-top: 1px solid #E7E7E7;
        }

        @media screen and (max-width: $md1) {
            padding: 12.5px 0px;
        }

        @media screen and (max-width: $md2) {
            padding: 27px 0px;

            &:first-child {
                padding-top: 0;
                border-top: 0px;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0px;
            }
        }

        @media screen and (max-width: $md3) {
            padding: 5.625vw 0px;
        }
    }

    &__text1 {
        font-family: $fn;
        font-size: 14px;
        line-height: 70%;
        color: #888888;

        @media screen and (max-width: $md1) {
            font-size: 8.75px;
        }

        @media screen and (max-width: $md2) {
            font-size: 19.5px;
        }

        @media screen and (max-width: $md3) {
            font-size: 4.063vw;
        }
    }

    &__text2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 70%;

        @media screen and (max-width: $md1) {
            font-size: 10px;
        }

        @media screen and (max-width: $md2) {
            font-size: 24px;
        }

        @media screen and (max-width: $md3) {
            font-size: 5vw;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E7A827;
        border-radius: 6px;
        padding: 24px 118px;
        font-weight: 600;
        font-size: 18px;
        line-height: 70%;
        color: #fff;

        &-mobile {
            display: none;
        }

        @media screen and (max-width: $md1) {
            border-radius: 3.75px;
            width: 226.25px;
            height: 37.5px;
            padding: 0;

            span {
                font-size: 11.25px;
            }
        }

        @media screen and (max-width: $md2) {
            display: none;
            width: 420px;
            height: 81px;
            padding: 0px;
            border-radius: 7.5px;

            &-mobile {
                display: flex;
            }
            
            img {
                width: 24px;
                height: 15px;
                margin-right: 12px;
            }

            span {
                font-size: 21px;
                text-transform: uppercase;
            }
        }

        @media screen and (max-width: $md3) {
            width: 87.5vw;
            height: 16.875vw;
            border-radius: 1.563vw;

            img {
                width: 5vw;
                height: 3.125vw;
                margin-right: 2.5vw;
            }

            span {
                font-size: 4.375vw;
            }
        }
    }
}


.villa-slider {
    margin-bottom: 120px;

    @media screen and (max-width: $md1) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: $md2) {
        margin-bottom: 36px;
    }

    @media screen and (max-width: $md3) {
        margin-bottom: 7.5vw;
    }

    &__slider {
        text-align: center;
        position: relative;
    }

    &__title {
        font-family: $fn;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 46px;
        text-transform: uppercase;

        @media screen and (max-width: $md1) {
            font-size: 25px;
            margin-bottom: 28px;
        }

        @media screen and (max-width: $md2) {
            display: none;
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 1000px;
        height: 600px;
        border-radius: 20px;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;

        @media screen and (max-width: $md1) {
            width: 625px;
            height: 375px;
            border-radius: 12.5px;
        }

        @media screen and (max-width: $md2) {
            width: 420px;
            height: 270px;
            border-radius: 7.5px;
        }

        @media screen and (max-width: $md3) {
            width: 87.5vw;
            height: 56.25vw;
            border-radius: 1.563vw;
        }
    }

    // &__image-inner {
    //     background-position: center;
    //     width: 100%;
    // }

    .mySwiperVilla {
        @media screen and (max-width: $md2) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .villa-slider-arrows {
        @media screen and (max-width: $md2) {
            display: flex;
            gap: 12px;
            margin-top: 15px;
        }

        @media screen and (max-width: $md3) {
            gap: 2.5vw;
            margin-top: 3.125vw;
        }
    }

    .villa-slider-arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        background-color: #DFA633;
        padding: 23px 20px;
        width: 20px;
        height: 14.01px;
        border-radius: 50%;

        @media screen and (max-width: $md1) {
            width: 37.5px;
            height: 37.5px;
            padding: 0;

            img {
                width: 12px;
                height: 9px;
            }
        }

        @media screen and (max-width: $md2) {
            position: static;
            width: 36px;
            height: 36px;

            img {
                width: 6px;
                height: 11px;
            }
        }

        @media screen and (max-width: $md3) {
            width: 7.5vw;
            height: 7.5vw;

            img {
                width: 1.141vw;
                height: 2.281vw;
            }
        }
    }

    .swiper-button-prev-villa {
        top: 270px;
        left: 0px;

        @media screen and (max-width: $md1) {
            top: 168.75px
        }
    }

    .swiper-button-next-villa {
        top: 270px;
        right: 0px;

        @media screen and (max-width: $md1) {
            top: 168.75px
        }

        @media screen and (max-width: $md2) {
            
        }
    }
}