{% extends 'base.html' %}
{% load static %}

{% block title %}{{ villa.project.title }} — {{ villa.name }}{% endblock %}

{% block content %}
<section class="villa-start">
    <div class="villa-start__container container">
        <div class="villa-start__image"><img src="{{ villa.image.url }}" alt="Villa plan image"></div>
        <div class="villa-start__content">
            <h1 class="villa-start__subheading">Botanica {{ villa.project.title }}</h1>
            <div class="villa-start__title">{{ villa.name }} / {{ villa.description }}</div>
            <div class="villa-start__price">— ${{ villa.price }}</div>
            <div class="villa-start__params">
                <div class="villa-start__param">
                    <div class="villa-start__text1">Тип</div>
                    <div class="villa-start__text2">{{ villa.type }}</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Спальные комнаты</div>
                    <div class="villa-start__text2">{{ villa.bedroom }} спальни</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Ванные комнаты</div>
                    <div class="villa-start__text2">{{ villa.bathroom }} ванные</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Площадь</div>
                    <div class="villa-start__text2">{{ villa.square }} м²</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Застроено</div>
                    <div class="villa-start__text2">{{ villa.built_square }} м²</div>
                </div>
                <div class="villa-start__param">
                    <div class="villa-start__text1">Площадь виллы</div>
                    <div class="villa-start__text2">{{ villa.house_square }} м²</div>
                </div>
            </div>
            <div class="villa-start__btn">Узнать больше</div>
        </div>
    </div>
</section>
<section class="villa-slider">
    <div class="villa-slider__container container">
        <div class="villa-slider__slider">
            <div class="villa-slider__title">Галерея grand avenue</div>
            <div class="swiper mySwiperVilla">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="{{ villa.image.url }}" alt=""></div>
                  <div class="swiper-slide"><img src="{{ villa.image.url }}" alt=""></div>
                  <div class="swiper-slide"><img src="{{ villa.image.url }}" alt=""></div>
                  <div class="swiper-slide"><img src="{{ villa.image.url }}" alt=""></div>
                </div>
                <div class="swiper-button-prev-villa villa-slider-arrow"><img src="{% static 'images/icon-sliderwhitearrowleft.svg' %}" alt="White left arrow icon"></div>
                <div class="swiper-button-next-villa villa-slider-arrow"><img src="{% static 'images/icon-sliderwhitearrowright.svg' %}" alt="White right arrow icon"></div>
            </div>
        </div>
    </div>
</section>
<section class="project-apartments">
    <div class="project-apartments__container container">
        <div class="project-apartments__wrapper wrapper">
            {% for apart in project.apartments.all %}
            {% if not apart.id == villa.id %}
                <a href="{% url 'villa_detail' project_slug=project.slug pk=apart.id %}" class="project-apartments__apart">
                    <div class="project-apartments__apart__tags">
                        <div class="project-apartments__apart__tag">{{ apart.name }}</div>
                        <div class="project-apartments__apart__tag">{{ apart.description }}</div>
                    </div>
                    <div class="project-apartments__apart__image"><img src="{{ apart.image.url }}" alt="Apartment image"></div>
                    <div class="project-apartments__apart__content">
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">Тип — {{ apart.type }}</div>
                            <div class="project-apartments__apart__text2">{{ apart.bedroom }} спальни</div>
                        </div>
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">Площадь</div>
                            <div class="project-apartments__apart__text2">{{ apart.square }} м²</div>
                        </div>
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">Застроено</div>
                            <div class="project-apartments__apart__text2">{{ apart.built_square }} м²</div>
                        </div>
                        <div class="project-apartments__apart__row">
                            <div class="project-apartments__apart__text">Площадь дома</div>
                            <div class="project-apartments__apart__text2">{{ apart.house_square }} м²</div>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiperVilla", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next-villa",
        prevEl: ".swiper-button-prev-villa",
      },
    });
</script>
{% endblock %}